In [38]:
%%writefile templates/line_chart.template
<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>
<body>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>

var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = {width} - margin.left - margin.right,
    height = {height} - margin.top - margin.bottom;

var formatDate = d3.time.format("%Y%m%d");

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var line = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.close); });

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    
var process = function(error, data) {
  if (error) throw error;
    
    data = data.map(type)
    
  x.domain(d3.extent(data, function(d) { return d.date; }));
  y.domain(d3.extent(data, function(d) { return d.close; }));

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Temperature");

  svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);
}
    

var data = {data}
process("",data)

function type(d) {
  d.date = formatDate.parse(""+d.date);
  d.close = +d.close;
  return d;
}

</script>

Overwriting templates/line_chart.template

In [4]:
import json
from IPython.display import IFrame
import pandas as pd

In [30]:
data = """
[{"date":"24-Apr-08", "close":99.24},
  {"date":"25-Apr-08, "close":100.24},
  {"date":"26-Apr-08", "close":89.24},
  {"date":"27-Apr-08", "close":92.24},
  {"date":"28-Apr-08", "close":95.24},
  {"date":"29-Apr-08", "close":90.24}]
"""

In [31]:
input= open("templates/line_chart.template")
text = input.read()
input.close()
text=text.replace("{data}",data)
output = open("tmp/line_chart.html","w")
output.write(text)
output.close()
IFrame("tmp/line_chart.html",800,800)

In [10]:
import pandas as pd

In [13]:
df = pd.read_csv("datos/worldTemperatures.csv",header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0,51957,IVM00065594,20160101,TAVG,28.3,H,NaN,S,NaN,SPY,4.746717,-6.660817,Ivory Coast,San Pedro
1,1,141546,IVM00065594,20160102,TAVG,27.9,H,NaN,S,NaN,SPY,4.746717,-6.660817,Ivory Coast,San Pedro
2,2,231680,IVM00065594,20160103,TAVG,26.8,H,NaN,S,NaN,SPY,4.746717,-6.660817,Ivory Coast,San Pedro
3,3,323605,IVM00065594,20160104,TAVG,27.6,H,NaN,S,NaN,SPY,4.746717,-6.660817,Ivory Coast,San Pedro
4,4,416249,IVM00065594,20160105,TAVG,27.2,H,NaN,S,NaN,SPY,4.746717,-6.660817,Ivory Coast,San Pedro

In [16]:
mindf = df[[3,5,14]]
mindf = mindf[mindf[14] == "Madrid"]
mindf.head()

In [24]:
mindf.columns=["date","close","City"]

In [25]:
mindf.to_json(orient="records")

'[{"date":20160101,"close":10.6,"City":"Madrid"},{"date":20160102,"close":9.1,"City":"Madrid"},{"date":20160103,"close":6.8,"City":"Madrid"},{"date":20160104,"close":12.7,"City":"Madrid"},{"date":20160105,"close":7.9,"City":"Madrid"},{"date":20160106,"close":5.7,"City":"Madrid"},{"date":20160107,"close":12.8,"City":"Madrid"},{"date":20160108,"close":12.2,"City":"Madrid"},{"date":20160109,"close":10.3,"City":"Madrid"},{"date":20160110,"close":11.1,"City":"Madrid"},{"date":20160111,"close":9.9,"City":"Madrid"},{"date":20160112,"close":7.0,"City":"Madrid"},{"date":20160113,"close":4.1,"City":"Madrid"},{"date":20160114,"close":4.7,"City":"Madrid"},{"date":20160115,"close":7.0,"City":"Madrid"},{"date":20160116,"close":4.6,"City":"Madrid"},{"date":20160117,"close":1.6,"City":"Madrid"},{"date":20160118,"close":6.5,"City":"Madrid"},{"date":20160119,"close":5.0,"City":"Madrid"},{"date":20160120,"close":4.8,"City":"Madrid"},{"date":20160121,"close":5.8,"City":"Madrid"},{"date":20160122,"close":8.3,"City":"Madrid"},{"date":20160123,"close":11.3,"City":"Madrid"},{"date":20160124,"close":10.2,"City":"Madrid"},{"date":20160125,"close":9.6,"City":"Madrid"},{"date":20160126,"close":8.9,"City":"Madrid"},{"date":20160127,"close":8.4,"City":"Madrid"},{"date":20160128,"close":8.1,"City":"Madrid"},{"date":20160129,"close":8.2,"City":"Madrid"},{"date":20160130,"close":7.8,"City":"Madrid"},{"date":20160131,"close":8.6,"City":"Madrid"},{"date":20160201,"close":8.8,"City":"Madrid"},{"date":20160202,"close":7.2,"City":"Madrid"},{"date":20160203,"close":8.8,"City":"Madrid"},{"date":20160204,"close":5.8,"City":"Madrid"},{"date":20160205,"close":4.3,"City":"Madrid"},{"date":20160206,"close":5.7,"City":"Madrid"},{"date":20160207,"close":7.9,"City":"Madrid"},{"date":20160208,"close":9.3,"City":"Madrid"},{"date":20160209,"close":11.3,"City":"Madrid"},{"date":20160210,"close":12.4,"City":"Madrid"},{"date":20160211,"close":13.4,"City":"Madrid"},{"date":20160212,"close":12.2,"City":"Madrid"},{"date":20160213,"close":13.6,"City":"Madrid"},{"date":20160214,"close":8.4,"City":"Madrid"},{"date":20160215,"close":5.4,"City":"Madrid"},{"date":20160216,"close":3.8,"City":"Madrid"},{"date":20160217,"close":2.4,"City":"Madrid"},{"date":20160218,"close":5.6,"City":"Madrid"},{"date":20160219,"close":5.2,"City":"Madrid"},{"date":20160220,"close":5.3,"City":"Madrid"},{"date":20160221,"close":6.6,"City":"Madrid"},{"date":20160222,"close":8.3,"City":"Madrid"},{"date":20160223,"close":8.3,"City":"Madrid"},{"date":20160224,"close":6.1,"City":"Madrid"},{"date":20160225,"close":8.8,"City":"Madrid"},{"date":20160226,"close":6.4,"City":"Madrid"},{"date":20160227,"close":5.7,"City":"Madrid"},{"date":20160228,"close":7.2,"City":"Madrid"},{"date":20160229,"close":7.9,"City":"Madrid"},{"date":20160301,"close":7.6,"City":"Madrid"},{"date":20160302,"close":9.3,"City":"Madrid"},{"date":20160303,"close":9.2,"City":"Madrid"},{"date":20160304,"close":8.3,"City":"Madrid"},{"date":20160305,"close":6.8,"City":"Madrid"},{"date":20160306,"close":6.6,"City":"Madrid"},{"date":20160307,"close":7.4,"City":"Madrid"},{"date":20160308,"close":6.9,"City":"Madrid"},{"date":20160309,"close":5.3,"City":"Madrid"},{"date":20160311,"close":8.1,"City":"Madrid"},{"date":20160312,"close":6.4,"City":"Madrid"},{"date":20160313,"close":8.0,"City":"Madrid"},{"date":20160314,"close":7.2,"City":"Madrid"},{"date":20160315,"close":7.2,"City":"Madrid"},{"date":20160316,"close":7.6,"City":"Madrid"},{"date":20160317,"close":9.2,"City":"Madrid"},{"date":20160318,"close":8.4,"City":"Madrid"},{"date":20160319,"close":9.8,"City":"Madrid"},{"date":20160320,"close":8.3,"City":"Madrid"},{"date":20160321,"close":9.1,"City":"Madrid"},{"date":20160322,"close":10.0,"City":"Madrid"},{"date":20160323,"close":8.4,"City":"Madrid"},{"date":20160324,"close":9.9,"City":"Madrid"},{"date":20160325,"close":10.2,"City":"Madrid"},{"date":20160326,"close":10.3,"City":"Madrid"},{"date":20160327,"close":12.1,"City":"Madrid"},{"date":20160328,"close":11.1,"City":"Madrid"},{"date":20160329,"close":13.6,"City":"Madrid"},{"date":20160330,"close":13.9,"City":"Madrid"},{"date":20160331,"close":9.2,"City":"Madrid"},{"date":20160401,"close":8.2,"City":"Madrid"},{"date":20160402,"close":9.3,"City":"Madrid"},{"date":20160403,"close":10.8,"City":"Madrid"},{"date":20160404,"close":8.3,"City":"Madrid"},{"date":20160405,"close":10.9,"City":"Madrid"},{"date":20160406,"close":11.9,"City":"Madrid"},{"date":20160407,"close":12.3,"City":"Madrid"},{"date":20160408,"close":9.4,"City":"Madrid"},{"date":20160409,"close":10.9,"City":"Madrid"},{"date":20160410,"close":10.4,"City":"Madrid"},{"date":20160411,"close":8.9,"City":"Madrid"}]'

In [40]:
input= open("templates/line_chart.template")
text = input.read()
input.close()
text=text.replace("{data}",mindf.to_json(orient="records"))
text=text.replace("{width}","500")
text=text.replace("{height}","600")
output = open("tmp/line_chart.html","w")
output.write(text)
output.close()
IFrame("tmp/line_chart.html",800,800)

In [41]:
mindf_par = df[[3,5,14]]
mindf_par = mindf_par[mindf_par[14] == "Paris"]
mindf_par.head()

              3    5      14
109148  20160101  6.7  Paris
109149  20160102  9.1  Paris
109150  20160103  7.3  Paris
109151  20160104  7.4  Paris
109152  20160105  7.4  Paris

In [42]:
mindf_par.columns=["date","close","City"]

In [43]:
input= open("templates/line_chart.template")
text = input.read()
input.close()
text=text.replace("{data}",mindf_par.to_json(orient="records"))
text=text.replace("{width}","500")
text=text.replace("{height}","600")
output = open("tmp/line_chart_paris.html","w")
output.write(text)
output.close()
IFrame("tmp/line_chart_paris.html",800,800)

In [56]:
%%writefile templates/bootExample.html
<htlml>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">Hola</div>
                <div class="col-md-6">Mundo</div>
            </div>
        </div>
    </body>
</html>

Overwriting templates/bootExample.html

In [58]:
IFrame("templates/bootExample.html",600,600)

In [65]:
input= open("templates/dashboard.template")
text = input.read()
input.close()
text=text.replace("{data}",mindf.to_json(orient="records"))
text=text.replace("{data2}",mindf_par.to_json(orient="records"))
text=text.replace("{width}","500")
text=text.replace("{height}","600")
output = open("tmp/dash1.html","w")
output.write(text)
output.close()
IFrame("tmp/dash1.html",800,1200)

In [67]:
%%writefile templates/basic_json_d3.html
<html>
<head>
</head>
<body>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>
    var process = function(error,data){
        console.log(data)
    }
    
    d3.json("http://localhost:8080/api/v1/temp?code=MAD",process)
</script>
</body>
</html>

Overwriting templates/basic_json_d3.html

In [72]:
IFrame("templates/basic_json_d3.html", 600,600)